name: Build & Publish PyPI Package CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8, 3.9]
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python -m build
    
    
    - name: Publish the Package
      run: |
        twine upload --repository-url ${{ secrets.PYPI_URL }} --username ${{ secrets.TWINE_USERNAME }} --password ${{ secrets.TWINE_PASSWORD }} --skip-existing dist/*

  deploy-to-kubernetes:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: bitnami/kubectl:latest
      - name: Deploy to Kubernetes
        uses: bitnami/kubectl:latest

      - name: Print Kubectl Version
        run: |
          kubectl --version
      